.addressForm {
    margin: 3% 0 5% 30%;
    width: 40%;
    padding: 60px 40px 60px 40px; 
    border-color: black;
    // border-width: 20px;
    // background-color: rgb(243, 247, 247);
    border-style: solid;
    border-color: rgb(201, 201, 201);
    border-radius: 10px;
}


#addAddressBtn {
    width: 100%;
}

#addAddressHeading {
    text-align: center;
    font-size: 30px;
    margin: 5% 0 0 0;
}