<app-banner></app-banner>

<div class="container-fluid">
    <div class="row-1">
        <label for="" style="margin-left: 80%;">Sort Value: </label>
        <select name="sortType" 
            id="sortType" 
            placeholder="Sort Products by" 
            [(ngModel)]="sortTypeSelected"
            (change)="setSortType($event)" 
        >
        <option value="{{1}}" selected disabled> Select a sort type </option>
            <option value="{{1}}"> Price Low to High </option>
            <option value="{{-1}}"> Price High to Low </option>
        </select>
        <hr>
    </div>

    <div class="row">
        <!-- <h1>{{productsCategory}}</h1> -->
        <div class="col-2" style=" margin-left: 1%; background-color: rgb(255, 255, 255); height: 500px;" *ngIf="categoryDetails!=null">
            <span class="filterLabel" id="priceLabel" >Price: </span> <br>

            <div *ngFor="let priceRange of categoryDetails.priceRanges">
                <span class="filterText" (click)="getProductsByPriceRangeString(priceRange)">{{priceRange | priceRange}}</span> <br>
            </div>

            <div class="row">
                <input type="text" class="form-control priceRangeInput" placeholder="Min" style="margin-left: 5%;" [(ngModel)]="minPriceSelected">
                <input type="text" class="form-control priceRangeInput" placeholder="Max" [(ngModel)]="maxPriceSelected">
                <button class="btn btn-light" id="priceRangeBtn" (click)="getCustomPriceRangeFilteredProducts()">Go</button>
            </div>


            <div *ngIf="categoryDetails.brands.length">
                <br>
                <span class="filterLabel" id="priceLabel" >Brand: </span> <br>
                <div *ngFor="let brand of categoryDetails.brands">
                    <input class="filterText" 
                            type="checkbox" 
                            id="" 
                            value="{{brand}}"
                            (change)="toggleProductPropertyFilter($event)"
                    > {{brand}}
                </div>
            </div>


            <div *ngIf="categoryDetails.sellerIds.length">
                <br>
                <span class="filterLabel" id="priceLabel" >Seller: </span> <br>
                <div *ngFor="let sellerId of categoryDetails.sellerIds">
                    <input class="filterText" 
                            type="checkbox" 
                            name="" id="" 
                            value="{{sellerIdMap.get(sellerId)?.firstName}}"
                            (change)="toggleProductPropertyFilter($event)"
                    > {{sellerIdMap.get(sellerId)?.firstName}}
                </div>
            </div>


            <div *ngIf="productProperties!=null">
                <div *ngFor="let productProperty of productProperties">
                    <br>
                    <span class="filterLabel" id="priceLabel" >{{productProperty}}: </span> <br>
                    <div *ngFor="let propertyValue of productPropertiesMap[productProperty]">
                        <input value="{{propertyValue}}-{{productProperty}}" 
                                class="filterText" 
                                type="checkbox" 
                                name="" 
                                id="" 
                                (change)="toggleProductPropertyFilter($event)"
                        > {{propertyValue}}
                    </div>
                </div>
            </div>

            <br> <br> <br>
        </div>


        <div class="col">

            <div class="container" (scroll)="onScroll()">

                <div *ngIf="noProductsFound">
                    <h3 style="margin: 5% 0 0 30%">No products found</h3>
                </div>

                <div class="product-list" *ngIf="!noProductsFound">

                    <div class="row">

                        <div class="col-md-3 col-sm-6" *ngFor="let product of products">
                            <div class="white-box" (click)="viewProductDetails(product._id)">
                                <div class="product-img">
                                    <img class="img-fluid"
                                        id="productImage"
                                        src="data:image/jpeg;base64,{{product.productImages[0]}}" 
                                        accept=".jpeg,.png,.jpg"
                                        alt="Product Image"
                                    >
                            
                                </div>
                                <div class="product-bottom">
                                    <div class="product-name">{{product.productName}}</div>
                                    <img 
                                        id="ratingStar" 
                                        class="img-fluid"
                                        src="../../assets/Images/star2.png" 
                                        alt="" 
                                        *ngFor="let star of getStars(product.averageRating)"
                                    >
                                    <img 
                                        id="ratingStar" 
                                        class="img-fluid"
                                        src="../../assets/Images/whiteStar.png" 
                                        alt="" 
                                        *ngFor="let star of getStars(1)"
                                    >
                                    <label for="" style="margin: 0 0 0 5%;">{{product.reviews.length}} Ratings</label>
                                    <h5 id="sellingPrice" style="font-weight: 480;"> {{product.sellingPrice | currency : "INR"}}</h5>
                                    <p id="maxRetailPrice"> MRP: {{product.maxRetailPrice | currency : "INR"}} 
                                        <label for="" id="discount"> ({{getDiscount(product.sellingPrice, product.maxRetailPrice)}}% off)  </label> 
                                    </p>

                                    <p>
                                        Get it by 
                                        <b>Tomorrow, {{currentDay}} {{currentMonth}} </b> 
                                        <br>
                                        FREE Delivery by Amazon
                                    </p>

                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>

        </div>

        


    </div>

</div>