<nav class="navbar navbar-expand-lg navbar-dark bg-dark">
    <a class="navbar-brand" href="/">
      <img src="../../assets/Images/logo-white.png" width="100" height="30" class="d-inline-block align-top" alt="" style="margin:5px 0 0 20px;">
    </a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <!-- <li class="nav-item active">
          <a class="nav-link"  [routerLink]="['/sellerHome']">Home <span class="sr-only">(current)</span></a>
        </li> -->
        <li class="nav-item">
          <a class="nav-link" [routerLink]="['/sellerDashboard']"> Home </a>
        </li>
        
        <li class="nav-item">
            <a class="nav-link" [routerLink]="['/addProducts']"> Add Products </a>
        </li>
  
        <!-- <form class="form-inline my-2 my-lg-0">
          <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
          <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
        </form> -->
  
      </ul>
      
    <div *ngIf="!userLoggedIn" id="accountActionsBtn" class="btn" [routerLink]="['/signup']"> <p> Hello, signin <b> Accounts & Lists </b>  </p> </div>
    <div *ngIf="userLoggedIn" id="accountActionsBtn" class="btn" [routerLink]="['/customerAccountDetails']"> <p> Hello, {{currentSeller.firstName}} <b> Accounts & Lists </b>  </p> </div>

      <!-- <div class="btn btn-success mx-1" [routerLink]="['/signin']">Sign In</div>
      <div class="btn btn-success  mx-1" [routerLink]="['/signup']">Sign Up</div> -->
  
    </div>
  </nav>

  