.ordersContainer {
    margin: 1% 0 2% 25%;
}

#orderDetailsContainer {
    // height: 200px;
    border-style: solid;
    border-color: rgb(193, 192, 192);
}

#orderHeading {
    background-color: rgb(233, 235, 241);
    border-style: solid;
    border-color: rgb(193, 192, 192);
}

#order {
    width: 70%;        
}

.orderActionBtn {
    width: 100%;
}