.reviewForm {
    padding: 20px;
    width: 700px;
    height: auto;
    margin: 2% 0 5% 25%;
    border-color: rgb(201, 201, 201);
    border-radius: 10px;
}

#submitBtn {
    width: 100%;
    text-align: center;
}


#productImage {
    width: 100px;
    height: 100px;
}