#productImage {
    height:495px;
    width: 480px;
}


#sidebarProductImage {
    height: 100%;
    width: 100%;
    // border-radius: 5px;
}


#sidebarLeft {
    margin-top: 10%;
    margin-left: 5%;
    height: 80px;
    width: 90px;
}

#sidebarProductImage:hover {
    // border-style: solid; 
    // border-color: blue;
    box-shadow: 0px 0px 0px #23dce2, 0px 0px 8px #23dce2,;
}

#sidebarRight {
    border-style: solid;
    border-radius: 8px;
    margin: 0 0 0 10%;
    // height: 700px;
    width: 270px;
    padding: 25px;
    border-color: rgb(201, 198, 198);
}

#addToCartBtn {
    margin-top: 10%;
    width: 100%;
    border-radius: 50px;
}

#buyNowBtn {
    width: 100%;
    margin-top: 5%;
    border-radius: 50px;
}

#selectQuantity {
    width: 20%;
    margin-left: 3%;
    background-color: #EFEFEF;
    padding: 1px;
    border-radius: 5px;
}

#discount {
    font-weight: 400;
    color: red;
}

#sellingPrice {
    font-size: 25px;
}

#mrp {
    text-decoration: line-through;
    color: grey;
}


.reviewContainer {
    margin: 20px 0 0 0;
}

#ratingStar {
    height: 20px;
    width: 20px;
    margin: 1% 0 2% 0;
}

#reviewHeadline {
    font-weight: 600;
    font-size: 15px;
}

#reviewDescription {
    font-size: 14px;
}


  
body {
    background-color: #eee;
    color: #a1a1a1;
    font-family: sans-serif;
}

.container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.heading {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
}

.searchInputWrapper {
    position: relative;
    margin: 5% 0 0 0;
}

.searchInput {
    width: 450px;
    height: 35px;
    padding: 0 1rem; 
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    transition: transform 0.1s ease-in-out;
}

::placeholder {
color: #a1a1a1;
}

/* hide the placeholder text on focus */
:focus::placeholder {
    text-indent: -999px
}

.searchInput:focus {
    outline: none;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
}

.searchInputIcon {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    color: #a1a1a1;
    transition: all 0.1s ease-in-out;
}

.container:focus-within > 
.searchInputWrapper > .searchInputIcon {
right: 0.2rem;
}


table {
    height: 0;
    overflow: visible;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 450px;
    background-color: white;
    position: relative;
    z-index: 500;
    margin: 2px 0 0 0;
    // left: 495px;
    // top:48px;

    th {
        background-color: red;
        border: 1px solid red;
    }
    td {
        border: 1px solid #dddddd;
    }
    td, th {
        text-align: left;
        padding: 8px;
    }

    td:hover {
        background-color: #c3e6e9;
        cursor: pointer;
        color: black;
    }
        
    // tr:nth-child(even) {
    //     background-color: #dddddd;
    // }
}


#recommendBtn {
    font-size: 16px;
    color: rgb(70, 102, 161);
    font-weight: 550;
}

#recommendBtn:hover {
    cursor: pointer;
    text-decoration: underline;
}