.noReviewsContainer {
    border-style: solid;
    border-color: rgb(211, 206, 206);
    padding: 15px;
    margin: 5% 0 0 2%;
}

.reviewContainer {
    border-style: solid;
    border-color: rgb(211, 206, 206);
    padding: 15px;
    margin: 5% 0 0 2%;
}

#ratingStar {
    height: 20px;
    width: 20px;
}