/* Quick and dirty normalize hax */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    background-color: #eee;
    color: #a1a1a1;
    font-family: sans-serif;
  }
  
  .container {
    height: 30vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  
  .heading {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
  }
  
  .searchInputWrapper {
    position: relative;
  }
  
  .searchInput {
    width: 600px;
    height: 40px;
    padding: 0 1rem; 
    border-radius: 2rem;
    border-style: solid;
    border-width: 1px;
    transition: transform 0.1s ease-in-out;
  }
  
  ::placeholder {
    color: #a1a1a1;
  }
  
  /* hide the placeholder text on focus */
  :focus::placeholder {
    text-indent: -999px
  }
  
  .searchInput:focus {
    outline: none;
    transform: scale(1.1);
    transition: all 0.1s ease-in-out;
  }
  
  .searchInputIcon {
    position: absolute;
    right: 0.8rem;
    top: 0.5rem;
    color: #a1a1a1;
    transition: all 0.1s ease-in-out;
  }
  
  .container:focus-within > 
  .searchInputWrapper > .searchInputIcon {
    right: 0.2rem;
  }


  table {
    height: 0;
    overflow: visible;
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 600px;
    background-color: white;
    position: relative;
    z-index: 500;
    margin: 2px 0 0 0;
    // left: 495px;
    // top:48px;

    th {
        background-color: red;
        border: 1px solid red;
    }
    td {
        border: 1px solid #dddddd;
    }
    td, th {
        text-align: left;
        padding: 8px;
    }

    td:hover {
        background-color: #c3e6e9;
        cursor: pointer;
        color: black;
    }
      
    // tr:nth-child(even) {
    //     background-color: #dddddd;
    // }
}


.customerDetailsContainer {
    border-style: solid;
    border-color: rgb(232, 229, 229);
    // height: 300px;
    width: 500px;
    padding: 5%;
    margin: 0 0 5% 28%;
    text-align: center;
}

#customerName {
  font-size: 20px;
  font-weight: 700;
}

#customerEmail {
  font-size: 18px;
  color: rgb(91, 119, 193);
}

#numFollowers {
  margin: 10% 0 0 0;
  font-size: 18px;
}

#followersCount {
  font-size: 18px;
  font-weight: 700;
}

#sendRequestBtn {
  padding: 5px;
  font-weight: 400;
  font-size: 15px;
  margin: 5% 0 0 0;
}

.friendRequestContainer {
  border-style: solid;
  border-color: #ccc9c9;
  padding: 20px;
  margin: 2% 2% 2% 0;
}

.friendRequestContainer:hover {
  background-color: rgb(225, 228, 253);
}

#acceptRequestBtn {
  color: rgb(88, 142, 249);
  font-size: 16px;
  font-weight: 550;
}

#rejectRequestBtn {
  color: red;
  font-size: 16px;
  font-weight: 550;
}

#acceptRequestBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

#rejectRequestBtn:hover {
  cursor: pointer;
  text-decoration: underline;
}

.friendsContainer {
  border-style: solid;
  border-color: #a1a1a1;
  margin: 5% 0 5% 10%;
  padding: 20px;
}

.friendsContainer:hover {
  background-color: rgb(226, 247, 194);
}